.header {
    height: 50%;
}

.name { 
    padding: 10px;
    margin: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(93, 4, 4);
    background-color: gray;
}

.background {
    color: rgb(20, 48, 86)
}

.center {
    text-align: center;
}

.border { 
    padding: 10px;
    margin: 5px;
    background-color: rgb(187, 210, 210);
    border: black 2px solid;
    color: rgb(93, 80, 4);
}

body { background-color: rgb(20, 48, 86); }

.menu {
    display: flex;
    justify-content:space-around;
}

.menu h1:hover {
    color: brown;
}

.intro {
    color: whitesmoke;
    margin:30px;
}
.trivia-screenshot {
    opacity: 0.5;
}

.trivia-screenshot:hover {
    opacity: 1;
    animation: hoverAnimation .5s;
}

@keyframes hoverAnimation {
    from { opacity: .8; }
    to {opacity: 1; }

}